<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>じゃんけん</title>
</head>
<body>
    <h1>じゃんけん！(最初はグーを押して始めてください．)(リセットも最初はグーです)</h1>
    <form action="/janken">
        <!-- <input type="text" name="hand" required> -->
        <label for="hand">最初はグー！</label>
        <input type="submit" values="じゃんけん　ポン">
        <input type="hidden" name="hand" value="グー">
        <input type="hidden" name="win" value="0">
        <input type="hidden" name="total" value="0">
        <input type="hidden" name="secret" value="1">
    </form>

    <form action="/janken">
        <input type="text" name="hand" required>
        <label for="hand">次は何を出す？</label>
        <input type="hidden" name="win" value="<%= win %>">
        <input type="hidden" name="total" value="<%= total %>">
        <input type="submit" values="じゃんけん　ポン">
    </form>   
    <hr>
    <p>あなたの手は<%= your %>です．</p>
    <p>コンピュータは<%= cpu %>です．</p>
    <p>判定：<%= judgement %></p>
    <p>現在<%= total %>試合中<%= win %>勝しています．</p>
    <hr>
</body>
</html>