<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>充電</title>
</head>
<body>
    <h1>充電</h1>
    <form action="/juuden">
        <!-- <input type="text" name="hand" required> -->
        <label for="hand">リセット</label>
        <input type="submit" values="充電">
        <input type="hidden" name="win" value="0">
        <input type="hidden" name="total" value="0">
        <input type="hidden" name="secret" value="1">
        <input type="hidden" name="cpuenergy" value="0">
        <input type="hidden" name="energy" value="0">
    </form>

    <form action="/juuden">
        <!-- <input type="text" name="hand" required> -->
        <!-- <label for="hand">次は何を出す？</label> -->
        <input type="radio" name=juuden id="juuden">
        <label for="juuden">充電</label>
        <input type="radio" name="baria" id="baria">
        <label for="baria">バリア</label>
        <input type="radio" name="ha" id="ha">
        <label for="ha">ハー</label>
        <input type="hidden" name="win" value="<%= win %>">
        <input type="hidden" name="total" value="<%= total %>">
        <input type="submit" values="拍手×2">
        <input type="hidden" name="cpuenergy" value="<%= cpuenergy %>">
        <input type="hidden" name="energy" value="<%= energy %>">
    </form>
    充電，バリア，ハーから選んでね   
    <hr>
    <p>あなたの手は<%= your %>です．</p>
    <p>コンピュータは<%= cpu %>です．</p>
    <p>判定：<%= judgement %></p>
    <p>現在<%= total %>試合中<%= win %>勝しています．</p>
    <hr>
</body>
</html>